<div class="jumbotron mt-4">

<h1 class="display-4">App de Notas con NodeJs y MongoDB</h1> 
<p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
<hr class="my-4">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident earum sint ipsum iste,
     atque laboriosam a corrupti dolorem et aperiam?
</p>
<a href="https://www.linkedin.com/in/✔️daniel-maximiliano-ramirez-762a45184" target="_blank" class="btn btn-outline-primary btn-lg">LinkedIn</a> <!--envio a mi LInkin-->
<hr class="my-4">
<a href="https://github.com/Maxi8819" target="_blank " class= "btn-outline-secondary btn-lg">GitHub</a><!--envio a mi Git-->
</div>