{{!-- en la doc de bootstrap busco barras de navegacion y elijo la mas conveniente para mi app--}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">NotasApp</a> {{!--/ pagina principal de la app--}}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                <a class="nav-link" href="/about">About</a>
            </div>

            <div class="navbar-nav ml-auto">
                {{#if user}} {{!--si el usuarui existe muestro dropdown--}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/notas">Todas las Notas</a></li>
                        <li><a class="dropdown-item" href="/notes/agregarNota">Agregar Nota</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/users/salir">Cerrar Sesion</a></li>
                    </ul>
                </li>
                {{else}}
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="/users/ingresar">INGRESAR</a>
                    <a class="nav-link" href="/users/registro">REGISTRARME</a>
                </div>
                {{/if}}


            </div>
        </div>
    </div>
</nav>